<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <meta charset="UTF-8">
    <title>Send to Obook</title>
</head>
<body>
    <div>
        <h7>当前应用需要您的微信与终端序列号绑定后才可以正常使用。请您按照如下提示完成绑定：</h7>
        <br>
        <h7>1.打开当当阅读器，点击屏幕下方的‘应用’模块。</h7>
        <br>
        <h7>2.进入‘应用’页面，点击‘微信‘按钮。</h7>
        <br>
        <h7>3.进入‘微信’页面会出一个由您阅读器序列号产生的二维码，用微信扫描该二维码即可完成当前微信用户与阅读器的绑定。</h7>
    </div>
</body>
</html>
